body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Candara';
    height: 100vh;
    background-color: #000000;
    background-image: url('https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?auto=compress&cs=tinysrgb&w=2400');
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

li:hover {
    scale: 1.3;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 100%;
    cursor: pointer;
}

a:hover {
    color: orange;
}

header {
    position: relative;
    padding: 0 3%;
}

.topnav {
    width: 100%;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav .sitetitle {
    font-size: 200%;
    font-weight: bold;
    font-style: oblique;
}

.topnav .sitetitle a {
    color: orange;
}

.topnav .sitetitle:hover {
    scale: 1.1;
}

.topnav .menu {
    display: flex;
    gap: 2.5rem;
}

.topnav .toggle_btn {
    color: #ffffff;
    font-size: 120%;
    cursor: pointer;
    display: none;
}

.login_btn {
    background: transparent;
    border: 2px solid orange;
    color: orange;
    outline: none;
    border-radius: 20px;
    padding: 0.5% 2%;
}

.login_btn:hover {
    scale: 1.05;
    background-color: orange;
    color: #ffffff;
}

.login_btn i {
    display: inline-block;
    margin-right: 0.4em;
}

.login_btn:active {
    scale: 0.95;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 70px;
    height: 0;
    width: 480px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}

.dropdown_menu li:last-child {
    scale: 1;
}

.dropdown_menu.open {
    height: 235px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .login_btn {
    width: 100%;
    padding: 3%;
    display: flex;
    justify-content: center;
}

section#hero {
    height: calc(100vh - 70px - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-bottom: 0;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer p {
    color: #aaaaaa;
    text-align: left;
    margin-left: 1%;
    font-size: 80%;
}

@media(max-width:767px) {
    .topnav .menu, .topnav .login_btn {
        display: none;
    }

    .login_btn {
        padding: auto;
    }

    .topnav .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
    
}

@media(max-width:576px) {

    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

}